@import "./../../styles/variables";

.App {
  &__header {
    background: $catskill-white;
    color: $endeavour;
    overflow: hidden;
    padding: 0 $vertical-spacing;
    h1 {
      margin: $horizontal-spacing 0;
    }
  }
}